@import "reset";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "mixins";
@import "animate";
// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
// endbower

$white-rgba-1: rgba(236, 240, 241,1.0);
$white-rgba-25: rgba(236, 240, 241,0.25);
$white-rgba-0: rgba(236, 240, 241,0);
$blue-rgba-1: rgba(44, 62, 80,1.0);
$blue-rgba-75: rgba(44, 62, 80,0.75);
$dark-white-rgba-1: rgba(189, 195, 199,1.0);
$red-rgba-1: rgba(231, 76, 60,1.0);
$red-rgba-75: rgba(231, 76, 60,0.75);
$red-rgba-25: rgba(231, 76, 60,0.25);
$red-rgba-0: rgba(231, 76, 60,0);
$green: #27ae60;

body {
  color: #4f4f4f;
  background-color: $white-rgba-1;
}

nav {
  width: 100%;
  height: 75px;
  @include flexbox-center();
  position: fixed;
  background-color: $blue-rgba-75;
  color: $white-rgba-1;
  z-index: 5;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
    .nav__icon {
      cursor: pointer;
      list-style: none;
      // display: inline;
      text-align: center;
      font-size: 12px;
      .fa {
        display: block;
        font-size: 18px;
        // margin-left: 12px;
        // margin-right: 12px;
      }
    }
  .nav__filter {
    float: right;
    width: 80%;
    .nav__icon {
      display: inline;
      width: 20%;
      height: 100%;
      float: right;
    }
    .nav__icon:hover, .nav__selected {
      border-bottom: 5px solid $white-rgba-1;
    }
  }
  .nav__search {
    display: none;
  }
}

.jumbotron {
  background-color: $white-rgba-1;
}

.nav__filter, .player__list {
  width: 100%;
  @include flexbox-center();
  margin: 0;
  li {
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    float: left;
    transition: all 0.35s;
  }
}

.fa {
  font-size: 16px;
  margin: 2px;
}

.player__list-container {
  margin-top: 100px;
  margin-bottom: 25px;
}

.player__team-ranking {
  width: 2.5%;
  
}

.player__team {
  width: 40%;
}

.player__image {
  width: 30%;
  img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $dark-white-rgba-1;
  }
}

.search__image {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
    margin-left: -5px;
    background-color: $dark-white-rgba-1;
}

.player__name {
  width: 60%;
}

.player__taken {
  width: 10%;
  font-size: 21px !important;
  cursor: pointer;
}

.player__hot {
  color: #2ecc71;
}

.player__info {
  font-size: 13px;
}

.is-grey-true {
  background-color: $white-rgba-1;
}

.nav__views {
  @include flexbox-center();
  // float: left;
  width: 20%;
  li {
    display: inline;
    width: 50%;
  }
  .fa-check, .fa-times {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 6px;
    background-color: $dark-white-rgba-1;
    color: $green;
  }
  .fa-times {
    margin-left: 50px;
    background-color: $dark-white-rgba-1;
    color: $red-rgba-1;
  }
}

.fa-plus {
  color: #e74c3c;
}

.fa-star {
  color: $green;
}

.star-cold {
  color: #3498db;
}

.error, .player__selected {
  color: $white-rgba-25;
  background-color: $red-rgba-1;
  .fa, i {
    color: $white-rgba-25;
  }
  img {
    opacity: .15;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.player__drafted {
  // color: $white-rgba-25;
  // background-color: $red-rgba-25;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: zoomOutUp;
          animation-name: zoomOutUp;
  .fa, i {
    color: $white-rgba-25;
  }
  img {
    opacity: .15;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.active {
  transition: all .25s;
  // color: $white-rgba-1;
  // background-color: $green;
  border-bottom: 5px solid $white-rgba-1;
}

.view__active {
  transition: all .25s;
  color: $white-rgba-1 !important;
  background-color: $blue-rgba-1 !important;
}


@media print {
  @import "print";
} 

@media only screen and (min-width: 600px) {
  nav {
    .filter {
      width: 40%;
    }
    .nav__search {
      display: inline;
      width: 40%;
      input {
        width: 100%;
        // border-bottom: 1px dashed $white-rgba-25;
      }
      
    }
  }
  .player__image {
    img {
      width: 100px;
      height: 100px;
    }
  }
}